h1 {outline-style: dotted; outline-color: blue}
p {font-family: 'CASTELLAR', sans-serif;}
p {color: white ;}
hi{background-color: blue;}
body{background-color: black;}
h2{background-color: blue;}
